<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>

<body>
  <header>

  </header>

  <form action="/searches" method="POST">
    <fieldset>
      <legend>Search For a Book</legend>
      <span>Search</span>
      <input type="text" name="search">
      <label for="author-sort">Sort by Author</label>
      <input type="radio" id="author-sort" name="sort" value="author">
      <label for="title-sort">Sort by Title</label>
      <input type="radio" id="title-sort" name="sort" value="title">
      <button>Submit</button>
    </fieldset>
  </form>

  <footer>

  </footer>
</body>

</html>