<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book App</title>
  <link href="/styles/reset.css" rel="stylesheet" />
  <link href="/styles/base.css" rel="stylesheet" />
</head>
<body>
  <header>
    <h1>Hello World <%= foo %></h1>
  </header>
  <footer>

  </footer>
</body>
</html>